.card-dialog-content {
    display: flex;
    flex-direction: column;
}

.card-dialog-header {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
}

.card-dialog-input-row {
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    font-size: 16px;
    height: 34px;
    align-items: center;
}

.card-dialog-input-row>span {
    width: 150px;
    color: rgba(55, 53, 47, 0.6);
}