.container {
    margin: 8px;
    background-color: white;
    border-radius: 2px;
    width: 280px;
    display: flex;
    flex-direction: column;
}

.card-list {
    padding: 8px;
    flex-grow: 1;
    min-height: 100px; /* In case all columns are empty */
}

.column-header {
    margin: 0px 10px 0px 8px;
    display: flex;
    justify-content: space-between;
}

.column-title {
    font-weight: 600;
}

.add-icon {
    color: lightgray;
}