body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(55, 53, 47);
    height: 100vh;
}

div[contenteditable] {
    outline: 0px solid transparent;
}

.app-container {
    display: flex;
    flex-direction: column;
}
