body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*
.kanban-board {
    display: flex;
    flex-direction: row;
    align-content: stretch;
}

.column {
    flex: 1 1 auto;
    max-width: 400px;
    
    display: flex;
    flex-direction: column;
}

.column>.container {
    padding: 10px;
} */

/* Remove default styling from ul */
/* .column>.container>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
} */


